body {	
	padding-top: 60px;
	padding-bottom: 40px;
}
div.roulette {
	margin-top: 33px;
}
div.roulette-inner {
	left : 33px;
	
}

div.first_img {
	text-align: center;
}


div.roulette { 
}

div.roulette_container {
	background-color:rgb(253, 252, 253);
	width:800px;
	height:600px;
	border-radius: 40px;
	box-shadow:0px 0px 3px lightpink;margin:auto;
}

.btn_container {
	margin:20px;
	text-align:center;
}
.btn_container .start {
	margin-right:20px;
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}
.log_container {
	margin-left:25px;
	margin-top:80px;
}
.demo_label {
	border-left:5px solid gray;
	padding-left:5px;
	font-size: 20px;
}
#msg {
	border:1px solid #eee;
	padding:10px 20px;
	overflow-y: scroll;
	max-height: 100px; 
}
div.param_label {
	margin:20px 0px 10px 0px;
}
#stopImageNumber {
	width : 20px;
}
.param_name {
	font-weight:bold;
}
.image_sample img{
	width : 100px;
	cursor: pointer;
}
.right_container {
	width: 550px;
	margin-left: 100px;
}
.code_container {
	margin-top:50px;
	width: 500px;
}
.label-info {
	margin-bottom: 3px;
}
div.ui-slider {
	width: 300px;
}
